@{
    ViewBag.Title = "CQRS Rental";
}

<div class="jumbotron">
    <h1>CQRS Rental</h1>
    <p class="lead">CQRS Car Rental is what brings you into 22st centry!</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Cars for renting</h2>
        <p>
        </p>
    </div>
</div>